.news-feed {
    background-color: rgb(184, 204, 231);
    padding: 10px;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width: 800px;
    font-size: 14px;
}

a {
    color: rgb(58, 84, 117);
    text-decoration: none;
}

a:hover {
    color: rgb(54, 54, 54);
    cursor: pointer;
}

p {
    margin: 5px 0 5px 0;
}